body {
  background-color: black;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  opacity: 0.9;
}


/* IDEA: header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  min-height: 69px;
  top: 0;
  background-color: black;

}

ul {
  display: flex;
  font-weight: bold;
  list-style: none;
  flex-wrap: wrap;
}

li {
  padding: 5px;
  margin-right: 10px;
}

#logo {
  height: 50px;
  margin-left: 10px;
}


/* IDEA: Mission */

#mission {
  background-image: url("../images/img-mission-background.jpg");
  display: flex;
  height: 700px;
  width: 1200px;
  flex-direction: column;
  margin-top: 69px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

h2, h4 {
  display: flex;
  margin: 0;

}

.bar {
  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-self: stretch;
}


/* Tea of the Month  */

#tea img {
  height: 200px;
  width: 300px;
}

#teahead, #teaq {
  display: flex;
  justify-content: center;
  align-items: center;

}

#teahead {
  padding-top: 20px;
  margin: 20px 100px;
}

#tea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teaimgs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

.img1, .img2,
.img3, .img4,
.img5 {
  margin: 0 15px;
  text-align: center;
}


/* IDEA: locations */
.locationsbody {
  background-image: url("../images/img-locations-background.jpg");
  height: 500px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.downtown {
  background-color: black;
  opacity: 1;
  margin: 20px;
  width: 300px;
  text-align: center;
}


/* IDEA: contact */
.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* IDEA: footer */
.copyright {
  margin-left: 20px;
  display: flex;
  text-align: left;
}

/* IDEA: padding-top: 20px;
margin: 20px 100px; */
